{
  "name": "ixtlan",
  "version": "0.0.6",
  "description": "A component library for reusable Angular components.",
  "main": "dist/ixtlan/bundles/ixtlan.umd.js",
  "scripts": {
    "ng": "ng",
    "start": "ng serve",
    "build": "ng build ixtlan",
    "watch": "ng build ixtlan --watch",
    "test": "ng test",
    "release": "npm version patch && git push && git push origin --tags && npm publish dist/ixtlan"
  },
  "publishConfig": {
    "access": "public"
  },
  "repository": {
    "type": "git",
    "url": "https://github.com/dvanauken/ixtlan.git"
  },
  "author": "Your Name",
  "license": "MIT",
  "dependencies": {
    "@angular/core": "^16.2.0",
    "@angular/cli": "^16.2.0"
  },
  "devDependencies": {
    "typescript": "^5.1.0"
  }
}
