<nav class="navbar" [ngStyle]="themeStyles" fxLayout="row" fxLayoutAlign="start center" fxFill>
  <div class="navbar-brand" fxFlex="none">
    <a [routerLink]="brandLink" class="brand-link">
      <img *ngIf="brandLogo" [src]="brandLogo" alt="Brand Logo" class="brand-logo">
      <span class="brand-name">{{ brandName }}</span>
    </a>
  </div>

  <div class="nav-items">
    <a *ngFor="let item of menuItems" 
       [routerLink]="item.link" 
       class="nav-link">
      {{ item.name }}
    </a>
  </div>

  <div *ngIf="showSearch" fxFlex="none" class="search-container">
    <form (ngSubmit)="onSearch($event)" class="search-form">
      <div class="input-group">
        <input type="text" 
               [(ngModel)]="searchTerm"
               name="search"
               [placeholder]="searchPlaceholder"
               class="form-control">
        <button type="submit" class="btn">
          Search
        </button>
      </div>
    </form>
  </div>
</nav>