  <ixt-tabset>
    <ixt-tab title="Tab 1">
      Content for Tab 1

      <ixt-table
        [data]="employeeData"
        [config]="employeeConfig">
      </ixt-table>
    </ixt-tab>

    <ixt-tab title="Tab 2">
      <ixt-table
        [data]="salesData"
        [config]="salesConfig">
      </ixt-table>
    </ixt-tab>

    <ixt-tab title="Tab 3">
      <ixt-table
        [data]="inventoryData"
        [config]="inventoryConfig">
      </ixt-table>
    </ixt-tab>

    <ixt-tab title="Tab 4">
      Content for Tab 4
    </ixt-tab>
  </ixt-tabset>
