<div 
  class="ixt-dialog-container" 
  [class.is-open]="isOpen"
  [class.is-modal]="isModal"
  (click)="onBackdropClick($event)"
  (keydown)="onKeydown($event)">
  
  <div 
    #dialogElement
    class="ixt-dialog" 
    role="dialog"
    [attr.aria-modal]="isModal"
    aria-labelledby="dialog-title"
    tabindex="-1">

    <!-- Header -->
    <div 
      class="ixt-dialog__header"
      [class]="getHeaderClass()"
      [ngStyle]="getHeaderStyle()">
      <h2 
        *ngIf="title"
        class="ixt-dialog__title" 
        id="dialog-title">
        {{ title }}
      </h2>
      <button 
        *ngIf="showClose"
        type="button"
        class="ixt-dialog__close"
        aria-label="Close dialog"
        (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <!-- Content -->
    <div class="ixt-dialog__content">
      <!-- String content -->
      <ng-container *ngIf="config.content && !isTemplateRef(config.content) && !isComponent(config.content)">
        {{ config.content }}
      </ng-container>

      <!-- Template content -->
      <ng-container *ngIf="isTemplateRef(config.content)">
        <ng-container 
          [ngTemplateOutlet]="config.content"
          [ngTemplateOutletContext]="config.contentContext">
        </ng-container>
      </ng-container>

      <!-- Dynamic component content -->
      <ng-container *ngIf="isComponent(config.content)">
        <ng-container *ngComponentOutlet="config.content; 
                                        injector: createInjector(config.contentContext)">
        </ng-container>
      </ng-container>

      <!-- Dynamic Form Fields -->
      <table border="1">
      
      <div *ngIf="config.fields && config.fields.length" class="ixt-dialog__fields">
        <div *ngFor="let field of config.fields" class="form-group">
          <label [for]="field.name">{{ field.label }}</label>
          <input 
            *ngIf="field.type === 'text'" 
            [id]="field.name" 
            [(ngModel)]="field.value" 
            class="form-control" 
            type="text">
          
          <select 
            *ngIf="field.type === 'select'" 
            [id]="field.name" 
            [(ngModel)]="field.value" 
            class="form-control">
            <option *ngFor="let option of field.options" [value]="option">{{ option }}</option>
          </select>
        </div>
      </div>
    </table>

      <!-- Default content projection -->
      <ng-content></ng-content>
    </div>

    <!-- Footer -->
    <div class="ixt-dialog__footer">
      <!-- Footer content projection -->
      <ng-content select="[ixtDialogFooter]"></ng-content>
      
      <!-- Default buttons if no footer content is projected -->
      <ng-container *ngIf="!hasFooterContent">
        <ng-container *ngIf="config.buttons && config.buttons.length">
          <button 
            *ngFor="let button of config.buttons"
            type="button"
            class="ixt-dialog__button"
            [ngStyle]="getButtonStyle(button.variant)"
            (click)="handleButtonClick(button)">
            {{ button.text }}
          </button>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>
