<div #container class="split-pane-container">
    <div #leftPane class="left-pane">
      <ng-content select="[leftPane]"></ng-content>
    </div>
    
    <div #divider 
         class="divider"
         (mousedown)="onDragStart($event)">
      <div class="collapse-buttons">
        <button class="collapse-button left"
                [class.hidden]="isLeftCollapsed"
                (click)="collapseLeft()">◀</button>
        <button class="collapse-button right"
                [class.hidden]="isRightCollapsed"
                (click)="collapseRight()">▶</button>
      </div>
    </div>
    
    <div class="right-pane">
      <ng-content select="[rightPane]"></ng-content>
    </div>
    
    <button *ngIf="isLeftCollapsed"
            class="expand-button"
            (click)="expandLeft()">▶</button>
    <button *ngIf="isRightCollapsed"
            class="expand-button right"
            (click)="expandRight()">◀</button>
  </div>