<div class="split-pane-container" #container>
  <div class="left-pane" #leftPane>
    <ng-content select=".left-pane"></ng-content>
  </div>

  <div class="divider" #divider (mousedown)="onDragStart($event)">
    <div class="collapse-buttons">
      <button class="collapse-button" (click)="collapseLeft()" [class.hidden]="isLeftCollapsed">◀</button>
      <button class="collapse-button" (click)="collapseRight()" [class.hidden]="isRightCollapsed">▶</button>
    </div>
  </div>

  <div class="right-pane">
    <ng-content select=".right-pane"></ng-content>
  </div>

  <button *ngIf="isLeftCollapsed" class="expand-button" (click)="expandLeft()">▶</button>
  <button *ngIf="isRightCollapsed" class="expand-button right" (click)="expandRight()">◀</button>
</div>