<div class="ixt-matrix__toolbar">
  <button class="ixt-matrix__action-button" (click)="addNewRow()">
    <span class="material-icons">add</span>
  </button>
  <button class="ixt-matrix__action-button" [disabled]="!hasChanges && newRows.length === 0" (click)="saveChanges()">
    <span class="material-icons">save</span>
  </button>
</div>

<ng-container *ngIf="hasData; else noData">
  <div class="ixt-matrix">
    <!-- Header -->
    <div class="ixt-matrix__header">
      <div class="ixt-matrix__cell" *ngFor="let col of columns" [class.ixt-matrix__cell--first]="col === columns[0]">
        <div class="ixt-matrix__cell-content">
          {{col}}
          <div class="ixt-matrix__cell-actions">
            <button class="ixt-matrix__sort-toggle" (click)="toggleSort(col)">
              <span class="material-icons">{{getSortIcon(col)}}</span>
            </button>
            <button class="ixt-matrix__filter-toggle" (click)="toggleFilters(col)">
              <span class="material-icons">filter_alt</span>
            </button>
          </div>
        </div>
      </div>
      <div class="ixt-matrix__cell">Actions</div>
    </div>

    <!-- Filter Row -->
    <div class="ixt-matrix__header" *ngIf="showFilters">
      <div class="ixt-matrix__cell" *ngFor="let col of columns" [class.ixt-matrix__cell--first]="col === columns[0]">
        <ng-container *ngIf="activeFilterColumn === col && columnConfigs?.[col]">
          <ng-container [ngSwitch]="getEditorType(columnConfigs?.[col]?.type)">
            <!-- Text Filter -->
            <input *ngSwitchCase="'text'" 
              [formControl]="getFilterControl(col)"
              [placeholder]="columnConfigs?.[col]?.placeholder || ''"
              class="ixt-matrix__filter-input">

            <!-- Number Filter -->
            <div *ngSwitchCase="'number'" class="ixt-matrix__number-filter">
              <select [formControl]="getOperatorControl(col)" (change)="onOperatorChange(col)">
                <option value="=">=</option>
                <option value=">">&gt;</option>
                <option value="<">&lt;</option>
                <option value=">=">&gt;=</option>
                <option value="<=">&lt;=</option>
                <option value="!=">!=</option>
              </select>
              <input type="number" 
                [formControl]="getFilterControl(col)"
                [placeholder]="columnConfigs?.[col]?.placeholder || ''"
                class="ixt-matrix__filter-input">
            </div>

            <!-- Enum Filter -->
            <div *ngSwitchCase="'enum'">
              <select [formControl]="getFilterControl(col)" class="ixt-matrix__filter-input">
                <option value="">All</option>
                <option *ngFor="let opt of columnConfigs?.[col]?.enumValues" [value]="opt.value">
                  {{opt.label}}
                </option>
              </select>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>

    <!-- Data Rows -->
    <ng-container *ngIf="!isTree">
      <div class="ixt-matrix__row" *ngFor="let row of paginatedData; let i = index">
        <div class="ixt-matrix__cell" *ngFor="let col of columns" [class.ixt-matrix__cell--first]="col === columns[0]">
          <ng-container *ngIf="isNewRow(i) || editingRows.has(getRowIndex(i)); else displayValue">
            <ng-container [ngSwitch]="getEditorType(columnConfigs?.[col]?.type)">
              <!-- Text Input -->
              <input *ngSwitchCase="'text'" type="text"
                [ngModel]="row[col]"
                (ngModelChange)="onValueChange(getRowIndex(i), col, $event)">

              <!-- Number Input -->
              <input *ngSwitchCase="'number'" type="number"
                [ngModel]="row[col]"
                (ngModelChange)="onValueChange(getRowIndex(i), col, $event)">

              <!-- Enum Select -->
              <select *ngSwitchCase="'enum'"
                [ngModel]="row[col]"
                (ngModelChange)="onValueChange(getRowIndex(i), col, $event)">
                <option *ngFor="let opt of columnConfigs?.[col]?.enumValues" [ngValue]="opt.value">
                  {{opt.label}}
                </option>
              </select>

              <!-- Custom Editor -->
              <ng-container *ngSwitchCase="'custom'">
                <ng-container *ngTemplateOutlet="customEditorTpl; context: {
                  $implicit: getEditorComponent(columnConfigs?.[col]?.type),
                  row: row,
                  col: col,
                  index: i,
                  control: getEditControl(getRowIndex(i), col)
                }">
                </ng-container>
              </ng-container>

              <!-- Default -->
              <input *ngSwitchDefault type="text"
                [ngModel]="row[col]"
                (ngModelChange)="onValueChange(getRowIndex(i), col, $event)">
            </ng-container>
          </ng-container>
          <ng-template #displayValue>
            {{row[col]}}
          </ng-template>
        </div>

        <div class="ixt-matrix__cell">
          <ng-container *ngIf="!isNewRow(i) && !editingRows.has(getRowIndex(i))">
            <button class="ixt-matrix__action-button" (click)="startEditing(getRowIndex(i))">
              <span class="material-icons">edit</span>
            </button>
          </ng-container>
          <ng-container *ngIf="isNewRow(i) || editingRows.has(getRowIndex(i))">
            <button class="ixt-matrix__action-button" (click)="cancelEditing(getRowIndex(i))">
              <span class="material-icons">close</span>
            </button>
          </ng-container>
        </div>
      </div>
    </ng-container>

    <!-- Tree View -->
    <ng-container *ngIf="isTree">
      <ng-container *ngTemplateOutlet="treeTemplate; context: { $implicit: data, level: 0 }">
      </ng-container>
    </ng-container>

    <!-- Pagination -->
    <div class="ixt-matrix__footer" *ngIf="showPagination">
      <div class="ixt-matrix__pagination">
        <div class="ixt-matrix__page-size">
          <select [formControl]="pageSizeControl">
            <option *ngFor="let size of pageSizes" [value]="size.value">
              {{size.label}}
            </option>
          </select>
          rows per page
        </div>
        <div class="ixt-matrix__controls">
          <button (click)="onPageChange(1)" [disabled]="currentPage === 1">
            <span class="material-icons">first_page</span>
          </button>
          <button (click)="onPageChange(currentPage - 1)" [disabled]="currentPage === 1">
            <span class="material-icons">chevron_left</span>
          </button>
          <button *ngFor="let page of visiblePages"
            [class.active]="page === currentPage"
            [class.ellipsis]="page === -1"
            [disabled]="page === -1"
            (click)="onPageChange(page)">
            {{page === -1 ? '...' : page}}
          </button>
          <button (click)="onPageChange(currentPage + 1)" [disabled]="currentPage === totalPages">
            <span class="material-icons">chevron_right</span>
          </button>
          <button (click)="onPageChange(totalPages)" [disabled]="currentPage === totalPages">
            <span class="material-icons">last_page</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<!-- Tree Template -->
<ng-template #treeTemplate let-nodes let-level="level">
  <div class="ixt-matrix__row" *ngFor="let node of nodes; let i = index">
    <div class="ixt-matrix__cell" *ngFor="let col of columns"
      [class.ixt-matrix__cell--first]="col === columns[0]"
      [style.padding-left.px]="col === columns[0] ? level * 16 : null">
      <button *ngIf="hasChildren(node)" class="ixt-matrix__toggle" (click)="toggleNode(i)">
        <i [class.expanded]="isExpanded(i)"></i>
      </button>
      {{node[col]}}
    </div>
  </div>
  <ng-container *ngFor="let node of nodes; let i = index">
    <ng-container *ngIf="hasChildren(node) && isExpanded(i)">
      <ng-container *ngTemplateOutlet="treeTemplate; context: { $implicit: node.children, level: level + 1 }">
      </ng-container>
    </ng-container>
  </ng-container>
</ng-template>


<ng-template #customEditorTpl let-editor let-row="row" let-col="col" let-index="index" let-control="control">
  <airport-code-editor 
    [formControl]="control"
    [config]="editor.getEditConfig()"
    [existingCodes]="getCodes(data)">
  </airport-code-editor>
</ng-template>

<!-- No Data Template -->
<ng-template #noData>
  <div class="ixt-matrix__empty">
    No data available
  </div>
</ng-template>