<div class="ixt-table__toolbar">
  <button class="ixt-table__action-button" (click)="addNewRow()">
    <span class="material-icons">add</span>
  </button>
  <button class="ixt-table__action-button" [disabled]="!hasChanges && newRowsLength === 0" (click)="saveChanges()">
    <span class="material-icons">save</span>
  </button>
</div>

<ng-container *ngIf="hasData; else noData">
  <div class="ixt-table">
    <!-- Header -->
    <div class="ixt-table__header">
      <div class="ixt-table__cell">
        <binary-editor
          [config]="{ rowIndex: -1 }"
          [(ngModel)]="allSelected"
          (selectionChange)="toggleAllRows($event.selected)">
        </binary-editor>
      </div>
      <div class="ixt-table__cell" *ngFor="let col of columns" [class.ixt-table__cell--first]="col === columns[0]">
        <div class="ixt-table__cell-content">
          {{columnConfigs?.[col]?.label || col}}
          <div class="ixt-table__cell-actions">
            <button class="ixt-table__sort-toggle" (click)="toggleSort(col)">
              <span class="material-icons">{{getSortIcon(col)}}</span>
            </button>
            <button class="ixt-table__filter-toggle" (click)="toggleFilters(col)">
              <span class="material-icons">filter_alt</span>
            </button>
          </div>
        </div>
      </div>
      <div class="ixt-table__cell">Actions</div>
    </div>

    <!-- Filter Row -->
    <div class="ixt-table__header" *ngIf="showFilters">
      <div class="ixt-table__cell"></div>
      <div class="ixt-table__cell" *ngFor="let col of columns" [class.ixt-table__cell--first]="col === columns[0]">
        <ng-container *ngIf="activeFilterColumn === col && columnConfigs?.[col]">
          <ng-container [ngSwitch]="getEditorType(columnConfigs?.[col]?.type)">
            <!-- Text Filter -->
            <input *ngSwitchCase="'text'" [formControl]="getFilterControl(col)"
              [placeholder]="columnConfigs?.[col]?.placeholder || ''" class="ixt-table__filter-input">

            <!-- Number Filter -->
            <div *ngSwitchCase="'number'" class="ixt-table__number-filter">
              <select [formControl]="getOperatorControl(col)" (change)="onOperatorChange(col)">
                <option value="=">=</option>
                <option value=">">&gt;</option>
                <option value="<">&lt;</option>
                <option value=">=">&gt;=</option>
                <option value="<=">&lt;=</option>
                <option value="!=">!=</option>
              </select>
              <input type="number" [formControl]="getFilterControl(col)"
                [placeholder]="columnConfigs?.[col]?.placeholder || ''" class="ixt-table__filter-input">
            </div>

            <!-- Enum Filter -->
            <div *ngSwitchCase="'enum'">
              <select [formControl]="getFilterControl(col)" class="ixt-table__filter-input">
                <option value="">All</option>
                <option *ngFor="let opt of columnConfigs?.[col]?.enumValues" [value]="opt.value">
                  {{opt.label}}
                </option>
              </select>
            </div>
          </ng-container>
        </ng-container>
      </div>
      <div class="ixt-table__cell"></div>
    </div>

    <!-- Data Rows -->
    <div class="ixt-table__row" *ngFor="let row of paginatedData; let i = index" 
         [class.ixt-table__row--selected]="isRowSelected(getRowIndex(i))">
      <div class="ixt-table__cell">
        <binary-editor
          [config]="{ rowIndex: getRowIndex(i), rowData: row }"
          [ngModel]="isRowSelected(getRowIndex(i))"
          (selectionChange)="selectRow(getRowIndex(i), $event.selected)">
        </binary-editor>
      </div>
      <div class="ixt-table__cell" *ngFor="let col of columns" [class.ixt-table__cell--first]="col === columns[0]">
        <ng-container *ngIf="isNewRow(i) || isEditing(getRowIndex(i)); else displayValue">
          <ng-container [ngSwitch]="getEditorType(columnConfigs?.[col]?.type)">
            <!-- Text Input -->
            <input *ngSwitchCase="'text'" type="text" [ngModel]="row[col]"
              (ngModelChange)="onValueChange(getRowIndex(i), col, $event)">

            <!-- Number Input -->
            <input *ngSwitchCase="'number'" type="number" [ngModel]="row[col]"
              (ngModelChange)="onValueChange(getRowIndex(i), col, $event)">

            <!-- Enum Select -->
            <select *ngSwitchCase="'enum'" [ngModel]="row[col]"
              (ngModelChange)="onValueChange(getRowIndex(i), col, $event)">
              <option *ngFor="let opt of columnConfigs?.[col]?.enumValues" [ngValue]="opt.value">
                {{opt.label}}
              </option>
            </select>

            <!-- Custom Editor -->
            <ng-container *ngSwitchCase="'custom'">
              <ng-container *ngTemplateOutlet="customEditorTpl; context: {
                 $implicit: getEditorComponent(columnConfigs?.[col]?.type),
                 row: row,
                 col: col,
                 index: i,
                 control: getEditControl(getRowIndex(i), col)
               }">
              </ng-container>
            </ng-container>
          </ng-container>
        </ng-container>
          
        <ng-template #displayValue>
          <ng-container [ngSwitch]="columnConfigs?.[col]?.type">
            <ng-container *ngSwitchCase="CoordinateEditorComponent">
              {{formatCoordinate(row[col])}}
            </ng-container>
            <ng-container *ngSwitchDefault>
              {{row[col]}}
            </ng-container>
          </ng-container>
        </ng-template>
      </div>
       
      <div class="ixt-table__cell">
        <ng-container *ngIf="!isNewRow(i) && !isEditing(getRowIndex(i))">
          <button class="ixt-table__action-button" (click)="startEditing(getRowIndex(i))">
            <span class="material-icons">edit</span>
          </button>
        </ng-container>
        <ng-container *ngIf="isNewRow(i) || isEditing(getRowIndex(i))">
          <button class="ixt-table__action-button" (click)="cancelEditing(getRowIndex(i))">
            <span class="material-icons">close</span>
          </button>
        </ng-container>
      </div>
    </div>

    <!-- Pagination -->
    <div class="ixt-table__footer" *ngIf="showPagination">
      <div class="ixt-table__pagination">
        <div class="ixt-table__page-size">
          <select [formControl]="pageSizeControl">
            <option *ngFor="let size of pageSizes" [value]="size.value">
              {{size.label}}
            </option>
          </select>
          rows per page
        </div>
        <div class="ixt-table__controls">
          <button (click)="onPageChange(1)" [disabled]="currentPage === 1">
            <span class="material-icons">first_page</span>
          </button>
          <button (click)="onPageChange(currentPage - 1)" [disabled]="currentPage === 1">
            <span class="material-icons">chevron_left</span>
          </button>
          <button *ngFor="let page of visiblePages" [class.active]="page === currentPage" 
                  [class.ellipsis]="page === -1" [disabled]="page === -1" 
                  (click)="onPageChange(page)">
            {{page === -1 ? '...' : page}}
          </button>
          <button (click)="onPageChange(currentPage + 1)" [disabled]="currentPage === totalPages">
            <span class="material-icons">chevron_right</span>
          </button>
          <button (click)="onPageChange(totalPages)" [disabled]="currentPage === totalPages">
            <span class="material-icons">last_page</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<!-- Custom Editor Template -->
<ng-template #customEditorTpl let-editor let-row="row" let-col="col" let-index="index" let-control="control">
  <coordinate-editor
    *ngIf="editor?.component === CoordinateEditorComponent"
    [formControl]="control"
    [config]="{
      type: col === 'lat' ? 'lat' : 'lon'
    }">
  </coordinate-editor>

  <airport-code-editor 
   *ngIf="editor?.component === AirportCodeEditorComponent"
    [formControl]="control"
    [config]="editor.getEditConfig()"
    [existingCodes]="getCodes(data)">
  </airport-code-editor>
</ng-template>

<!-- No Data Template -->
<ng-template #noData>
  <div class="ixt-table__empty">
    No data available
  </div>
</ng-template>